html,
body {
    font-family: Inter, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

svg {
    fill: currentColor;
}
