html,
body {
    font-family: Inter, system-ui, sans-serif;
    overflow-x: clip;
    background-color: var(--beige-100);
    color: var(--gray-900);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    box-sizing: content-box;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

svg {
    fill: currentColor;
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.wysiwyg {
    p {
        margin: 0;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
    a {
        color: currentColor;
        &:hover,
        &:focus-visible {
            text-decoration: none;
        }
    }
}
