:root {
    --color-black: #000000;
    --color-white: #ffffff;

    --pink-25: #fef6fb;
    --pink-50: #fef1f9;
    --pink-100: #fee5f5;
    --pink-200: #feccec;
    --pink-300: #ffb0e1;
    --pink-400: #fe68c2;
    --pink-500: #f83ca7;
    --pink-600: #e81a86;
    --pink-700: #ca0c6a;
    --pink-800: #a70d57;
    --pink-900: #8b104a;
    --pink-950: #550229;
    --pink-DEFAULT: var(--pink-300);

    --red-25: #fff5f6;
    --red-50: #fff1f1;
    --red-100: #ffe0e1;
    --red-200: #ffc5c6;
    --red-300: #ff9d9f;
    --red-400: #ff6568;
    --red-500: #fe4549;
    --red-600: #ec161b;
    --red-700: #c70e12;
    --red-800: #a41013;
    --red-900: #881417;
    --red-950: #4a0506;
    --red-DEFAULT: var(--red-500);

    --orange-25: #fefaf5;
    --orange-50: #fff5ed;
    --orange-100: #ffe9d4;
    --orange-200: #ffd0a8;
    --orange-300: #ffae71;
    --orange-400: #ff9253;
    --orange-500: #fe5e11;
    --orange-600: #ef4407;
    --orange-700: #c62f08;
    --orange-800: #9d270f;
    --orange-900: #7e2310;
    --orange-950: #440e06;
    --orange-DEFAULT: var(--orange-400);

    --yellow-25: #fffcf5;
    --yellow-50: #fff9eb;
    --yellow-100: #ffeec6;
    --yellow-200: #ffd371;
    --yellow-300: #ffc14a;
    --yellow-400: #ffa920;
    --yellow-500: #f98407;
    --yellow-600: #dd5f02;
    --yellow-700: #b74006;
    --yellow-800: #94300c;
    --yellow-900: #7a280d;
    --yellow-950: #461302;
    --yellow-DEFAULT: var(--yellow-200);

    --teal-25: #f6fefc;
    --teal-50: #f0fdfa;
    --teal-100: #cdfaf2;
    --teal-200: #9bf4e5;
    --teal-300: #60e8d5;
    --teal-400: #30d1c1;
    --teal-500: #16b0a3;
    --teal-600: #0f9289;
    --teal-700: #117470;
    --teal-800: #125d5a;
    --teal-900: #144d4a;
    --teal-950: #052e2e;
    --teal-DEFAULT: var(--teal-500);

    --green-25: #fdfef6;
    --green-50: #fafde8;
    --green-100: #f2f9ce;
    --green-200: #e5f3a3;
    --green-300: #d1e96d;
    --green-400: #bada41;
    --green-500: #9dc022;
    --green-600: #799917;
    --green-700: #647f18;
    --green-800: #4a5d17;
    --green-900: #3f4f18;
    --green-950: #202b08;
    --green-DEFAULT: var(--green-700);

    --blue-25: #f5f8ff;
    --blue-50: #ecf2ff;
    --blue-100: #dce8ff;
    --blue-200: #c0d3ff;
    --blue-300: #9ab5ff;
    --blue-400: #728bff;
    --blue-500: #5162ff;
    --blue-600: #3235f9;
    --blue-700: #2222d3;
    --blue-800: #2224b1;
    --blue-900: #24298b;
    --blue-950: #151651;
    --blue-DEFAULT: var(--blue-700);

    --gray-25: #fafafa;
    --gray-50: #f6f5f5;
    --gray-100: #e8e7e5;
    --gray-200: #d3d1ce;
    --gray-300: #b3afad;
    --gray-400: #8d8883;
    --gray-500: #726e68;
    --gray-600: #615e59;
    --gray-700: #524f4c;
    --gray-800: #474643;
    --gray-900: #333230;
    --gray-950: #272625;
    --gray-DEFAULT: var(--gray-900);

    --beige-25: #fcfaf8;
    --beige-50: #f9f6f3;
    --beige-100: #f3eee7;
    --beige-200: #e2d5c6;
    --beige-300: #cfbaa2;
    --beige-400: #bb997c;
    --beige-500: #ad8262;
    --beige-600: #a07056;
    --beige-700: #855b49;
    --beige-800: #6d4c3f;
    --beige-900: #593e35;
    --beige-950: #2f1f1b;
    --beige-DEFAULT: var(--beige-100);
}
