@custom-media --sm (min-width: 640px);
@custom-media --md-down (max-width: 767px);
@custom-media --md (min-width: 768px);
@custom-media --lg-down (max-width: 1023px);
@custom-media --lg (min-width: 1024px);
@custom-media --xl-down (max-width: 1279px);
@custom-media --xl (min-width: 1280px);
@custom-media --xxl-down (max-width: 1535px);
@custom-media --xxl (min-width: 1536px);

:root {
    --hover-transition: 200ms ease-in-out;
    --page-container-max-width: 1272px;
}
